@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
*{
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #6D67E4;

}

.App{
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  
  
}

.heading {
  text-align: center;
  color:#46C2CB;
  margin-top: 1em;
  font-style: italic;
}



.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 70%;
  text-align: center;
  margin-top: 3em;
  background-color: white;
  border: 1em solid #453C67;
  justify-content: center;
  border-radius: 1em;
  max-width: 300px;
  aspect-ratio: 1/1.5;



  
}

.calculator > * {
  padding: 1em;
  background-color: white;
  

}

.calculator > *:hover{
  cursor: pointer;
}

#display {
  cursor: default;
}

#display, #clear {
  grid-column: 1 / -1;
}

#display {
  text-align: right;
  font-size: 1.4rem;
}

#clear, #multiply, #divide, #add, #subtract, #equals, #decimal {
  color: #6D67E4;
}

@media only screen and (min-width: 768px) {
  .calculator{
    max-width: 350px;
    aspect-ratio: 1/1.5;
  }
}


@media only screen and (min-width: 992px) {
  .calculator{
    max-width: 400px;
    aspect-ratio: 1/1.5;
  }

  *{
    font-size: 1.2rem;
  }

  .heading{
    font-size: 2.5rem;
  }
}

